In [10]:
import os
import pandas as pd
import json
from openai import OpenAI
from pydantic import BaseModel, Field
from typing import List, Literal

In [9]:
resume_input_path = "C:\\Users\\akash\\OneDrive\\Documents\\Resume Screener\\resumes\\resumes"

Resume Loader

In [15]:
def load_resume(resume_input_path):
    try:
        file_data = []
        for file in os.listdir(resume_input_path):
            if file.endswith('.txt'):
                file_path = os.path.join(resume_input_path, file)
                res_id, cad_id = file.split('_', 1) 
                res_id = int(res_id)
                cad_id = cad_id.replace('.txt', '')
                with open(file_path, 'r') as f:
                    file_text = f.read()
                file_data.append({'resume_id': res_id, 'candidate_id': cad_id, 'resume_text': file_text})
        df= pd.DataFrame(file_data)
        df = df.sort_values(by='resume_id').reset_index(drop=True)
        return df
    except Exception as e:
        print(f"Error loading resumes: {e}")
        return pd.DataFrame()

In [16]:
load_resume(resume_input_path)

,resume_id,candidate_id,resume_text
0,1,Amit_Patel_Junior,Name: Amit Patel\nRole: Junior Software Engine...
1,2,Ananya_Gupta_Product_Analytics,Name: Ananya Gupta\nRole: Head of Product Anal...
2,3,Anita_Sharma_Data,Name: Anita Sharma\nRole: Data Analyst\nExperi...
3,4,Arjun_Mehta_Principal_Backend,Name: Arjun Mehta\nRole: Principal Backend Eng...
4,5,Arjun_Nair_SeniorBackend,Name: Arjun Nair\nRole: Senior Backend Enginee...
5,6,Daniel_Lee_Fullstack,Name: Daniel Lee\nRole: Full Stack Engineer\nE...
6,7,Emily_Roberts_Product,Name: Emily Roberts\nRole: Product Manager\nEx...
7,8,Farah_Ali_Healthcare_AI,Name: Farah Ali\nRole: Healthcare AI Specialis...
8,9,Fatima Khan,Name: Fatima Khan\nRole: AI Engineer\nExperien...
9,10,John_Doe_Backend,Name: John Doe\nRole: Backend Engineer\nExperi...
10,11,Kavita_Iyer_CareerSwitch,Name: Kavita Iyer\nRole: Aspiring Backend Engi...
11,12,Kunal_Shah_Staff_ML_Engineer,Name: Kunal Shah\nRole: Staff Machine Learning...
12,13,Laura_Martin_DataSci,Name: Laura Martin\nRole: Data Scientist\nExpe...
13,14,Manoj_Kulkarni_Support,Name: Manoj Kulkarni\nRole: Technical Support ...
14,15,Mohit_Aggarwal_Security_Engineer,Name: Mohit Aggarwal\nRole: Senior Security En...
15,16,Neha_Kapoor_Backend,Name: Neha Kapoor\nRole: Backend Engineer\nExp...
16,17,Neha_Rawat_GenAI_Architect,Name: Neha Rawat\nRole: GenAI Solutions Archit...
17,18,Nitin_Goyal_Intern,Name: Nitin Goyal\nRole: Software Engineering ...
18,19,Olivia_Brown_TechWriter,Name: Olivia Brown\nRole: Technical Writer\nEx...
19,20,Pooja_Mehra_Testing,Name: Pooja Mehra\nRole: QA Engineer\nExperien...